a {
  text-decoration: none !important;
  color: gray !important;
}

a:hover {
  color: lightgray !important;
}

/* .container {
  max-width: 1200px !important;
  padding: 0 var(--bs-gutter-x, .75rem);
} */

.body-container {
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 0 var(--bs-gutter-x, .75rem);
}

.color-react {
  color: #61DBFB;
}

.color-dodgerblue {
  color: #1E90FF;
}

.color-heart {
  color: #E31B23;
}

.color-gold {
  color: #FFD700;
}

.color-silver {
  color: #C0C0C0;
}

.color-bronze {
  color: #CD7F32;
}

.line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pagination .active .page-link {
  color: white !important;
}

.line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#layout {
  margin: 20px auto;
  width: 1024px;
}