.genre-group {
    margin: 15px 0;
}

.genre-group .box-title {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 15px;
}

.genre-group .content-box {
    margin-bottom: 15px;
    padding: 9px 15px;
    border: 1px solid lightgray;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: white;
}

.genre-group .accordion-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre-group .accordion-body a {
    flex-grow: 1;
    margin-right: 10px;
    margin-bottom: 10px;
}

.genre-group .accordion-body .btn-primary {
    color: white !important;
}

.genre-group .accordion-body .btn-outline-primary {
    color: dodgerblue !important;
}

.genre-group .accordion-body .btn-outline-primary:hover {
    color: white !important;
}

.genre-group .accordion-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.genre-group .accordion-button {
    font-weight: 600;
    font-size: 21px;
    padding: 1rem 15px;
    color: black !important;
}

.genre-group .toggle-btn-group {
    display: flex;
    flex-wrap: wrap;
}

.genre-group .filter-toggle-btn {
    white-space: nowrap;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 6px !important;
}

.genre-group .pagination-md .page-item {
    font-size: 1rem;
    text-align: center;
    width: 2.5rem;
}