.novel-box {
    margin: 15px 10px;
}

.novel-box__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.novel-box__head__title {
    font-weight: 600;
    font-size: 21px;
}

.novel-box__head__link {
    align-self: center;
}