.ranking-box {
    margin: 15px 10px 23px 10px;
}

.ranking-box__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ranking-box__head__title {
    font-weight: 600;
    font-size: 21px;
}

.ranking-box__head__link {
    align-self: center;
}

.ranking__number {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
}

.ranking-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.ranking__name {
    font-weight: 500;
    padding: 0 10px;
    color: black !important;
}

.ranking__name:hover {
    color: gray !important;
}

.ranking__value {
    margin-left: auto;
    white-space: nowrap;
    font-weight: 500;
}

.medal {
    font-size: 36px;
}