header .navbar {
    line-height: 45px;
    border: 1px solid lightgray;
    padding: 0;
    font-size: 15px;
}


header .navbar-nav {
    padding-left: 0;
}

header .navbar-brand {
    padding: 0;
}

header .navbar-collapse {
    flex-direction: row-reverse;
}

header .nav-item .nav-link {
    padding: 0.5rem 1.5rem !important;
}

header .dropdown-item {
    padding: 0;
}

header .nav-item .nav-link:hover,
header .dropdown-item .nav-link:hover,
header .active {
    background: dodgerblue !important;
    color: white !important;
    transition: 0.25s linear;
}

header #basic-navbar-nav {
    justify-content: center;
}

header .dropdown-menu.show {
    padding: 0;
    background-color: #F8F9FA;
    display: flex !important;
    flex-wrap: wrap;
    width: max-content;
}

header #user-dropdown + div {
    width: min-content;
}

@media (max-width: 768px) {
    header .dropdown-menu.show {
        border: none;
        margin-left: 21px;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
    }

    header .dropdown-col {
        border-left: 1px solid lightgray;
        width: 150px;
    }

    header #user-dropdown + div {
        border-left: 1px solid lightgray;
    }
}