.intro-text h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 72px;
    padding-bottom: 9px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.intro-text p {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 9px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}