#search-field {
    margin-bottom: 45px;
}

#search-bar {
    margin: 0 auto;
    padding: 0 var(--bs-gutter-x, .75rem);
}

#search-icon,
#search-form,
#search-btn {
    padding: 10px 15px;
}

#search-btn {
    background-color: dodgerblue;
    border-color: dodgerblue;
}